:root {
        --primary_clr: #060640;
        --white: #fff;
        --font: 'Nunito', sans-serif;
        --bg_clr: #ECF9FF;
        --Paragraph: #9090A7;

}

/* ==============================
        Common Part Start
================================= */
* {
        padding: 0;
        margin: 0;
        outline: 0;
        box-sizing: border-box;
}

a {
        text-decoration: none;
        display: inline-block;
}


ul,
ol {
        list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
        line-height: .8;
}

.container {
        width: 1170px;
        margin: 0 auto;
}

.section__heading {
        color: var(--primary_clr);
        font-family: var(--font);
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px;
        /* 122.222% */
}

.sub__heading {
        color: var(--primary_clr);
        font-family: var(--font);
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        /* 140% */
}

.paragraph {
        color: var(--Paragraph);
        font-family: var(--font);
        font-size: 16px;
        font-weight: 200;
        line-height: 28px;
}


.common__btn {
        padding: 22px 38px;
        border-radius: 6px;
        background: var(--primary_clr);
        color: var(--white);
        font-family: var(--font);
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
}

/* ==============================
        Common Part End
================================= */


/* ==============================
        Navbar Part Start
================================= */
#navbar {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 99;
}

.nav__wrapper {
        display: flex;
        align-items: center;
        padding: 22px 22px 22px 35px;
        background-color: var(--white);
        border-radius: 10px;
}



.nav__logo {
        width: 20%;
}

.nav__menu {
        width: 50%;
}

.nav__list {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 25px;
}

.nav__link {
        color: #828297;
        font-family: var(--font);
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        text-transform: capitalize;
}

.nav__btn {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 25px;
}

.nav__btn__item {
        color: #000;
        font-family: var(--font);
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        text-transform: capitalize;
        padding: 20px 30px;
        transition: all linear .3s;
        border-radius: 6px;
}

.nav__btn__item:hover {
        background: var(--primary_clr);
        border-radius: 6px;
        color: var(--white);
}

/* ==============================
        Navbar Part End
================================= */

/* ==============================
        Banner Part Start
================================= */
#banner {
        padding: 260px 0 110px;
        background: var(--bg_clr);
        position: relative;
}

.banner__wrapper {
        display: flex;
        column-gap: 77px;

}

.banner__content {
        width: 423px;
}

.banner__content h1 {
        color: var(--primary_clr);
        font-family: var(--font);
        font-size: 50px;
        font-weight: 700;
        line-height: 65px;
        width: 423px;
        padding: 20px 0 20px;

}


.banner__btn {
        display: flex;
        align-items: center;
        column-gap: 30px;
        padding: 30px 0 70px;
}


.banner__play__btn i {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: #00E5CC;
        background-color: var(--white);
        /* drop-shadow: (0px 10px 30px rgba(0, 229, 204, 0.10)); */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all linear .3s;
}

.banner__play__btn i:hover {
        background: var(--primary_clr);
        color: var(--white);
}

.banner__quote {
        padding: 23px;
        border-radius: 14px;
        background: rgba(255, 255, 255, 0.70);
        backdrop-filter: blur(5px);
}

.banner__quote__icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
}

.banner__quote__icon i {
        font-size: 30px;
        color: #00E5CC;
}

.quote__reviews {
        display: flex;
        align-items: center;
}

.quote__reviews i {
        font-size: 14px;
        margin-right: 5px;
        color: #FFBF00;
}

.quote__reviews .paragraph {
        color: var(--primary_clr);
}

.paragraph--fontsize {
        font-size: 14px;
        line-height: 24px;
}

.span--weight {
        font-weight: 500;
}



.banner__img {
        width: 747px;
        position: relative;
}


.banner__shape01 {
        position: absolute;
        top: 29%;
        left: -9%;
}

.banner__shape01 img,
.banner__shape02 img,
.banner__shape03 img {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
}

.banner__shape02 {
        position: absolute;
        top: 69%;
        left: 38%;
}

.banner__shape03 {
        position: absolute;
        top: 40%;
        right: -12%;

}

.banner__shape04 {
        position: absolute;
        top: -14%;
        right: -16%;
}

/* ==============================
        Banner Part End
================================= */


/* ==============================
        Works Part Start
================================= */
#works {
        padding: 110px 0;
}

.works__wrapper .section__heading {
        text-align: center;
        padding-bottom: 12px;
}

.works__wrapper .paragraph {
        width: 431px;
        margin: 0 auto;
        text-align: center;

}

.work__content {
        display: flex;
        column-gap: 30px;
}

.work__content__item {
        width: 370px;
        border-radius: 14px;
        border: 2px solid rgba(6, 6, 64, 0.04);
        padding: 30px;
        cursor: pointer;
        transition: all linear .3s;
}

.work__content__item:hover {
        border: 2px solid transparent;
        background: #FFF;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.work__content__item h3 {
        color: var(--primary_clr);
        font-family: Nunito;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        /* 141.667% */
        padding: 50px 0 10px;
}


.item__img {
        width: 70px;
        height: 70px;
        background-color: red;
        border-radius: 10px;
        background: rgba(236, 249, 255, 0.80);
        display: flex;
        justify-content: center;
        align-items: center;
}



.work__content {
        padding-top: 70px;
}

/* ==============================
        Works Part End
================================= */


/* ==============================
        About Part Start
================================= */
#about {
        padding: 30px 0 60px;
}

.about__content {
        width: 456px;
}

.about__wrapper {
        display: flex;
        column-gap: 149px;
}

.about__content .section__heading {
        padding: 60px 0 12px;
}

.paragraph--padding {
        width: 432px;
        padding-bottom: 10px;
}

.about__content__item {
        display: flex;
        column-gap: 25px;
        padding-top: 30px;
}

.content__item_icon i {
        width: 60px;
        height: 60px;
        border-radius: 12px;
        background: rgba(236, 249, 255, 0.80);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        color: #00aa63;
}

.about__img {
        width: 569px;
        height: 500px;
        /* overflow: hidden; */
        border-radius: 10px;
        position: relative;
}

.about__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
}

.about__shape {
        position: absolute;
        top: 52%;
        left: -29%;
}

/* ==============================
        About Part End
================================= */



/* ==============================
        Package Part Start
================================= */
#package {
        padding: 110px 0;
        background: var(--bg_clr);
}

.package__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
}



.package_navigator {
        display: flex;
        width: 126px;
        height: 66px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #FFF;

}

.prev,
.next {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all linear .3s;
        color: var(--Paragraph);
        cursor: pointer;

}

.prev:hover,
.next:hover {
        background: #00E5CC;
        color: var(--white);
}

.package__content__wrapper {
        display: flex;
        align-items: center;
        column-gap: 30px;
        padding-top: 75px;
}

.package__content__item {
        width: 370px;
        padding: 16px 16px 20px 16px;
        border-radius: 14px;
        border: 1px solid var(--white);
        background: rgba(255, 255, 255, 0.20);
        transition: all linear .2s;
        cursor: pointer;
}

.package__content__item:hover {
        border-radius: 14px;
        border: 1px solid #FFF;
        background: #FFF;
        box-shadow: 0px 10px 70px 0px rgba(2, 2, 38, 0.06);
}

.content__item__img {
        width: 100%;
        height: 273px;
        overflow: hidden;
        border-radius: 10px;
}

.content__item__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.package__content__item h3 {
        padding: 20px 0 15px;
}

.item__user {
        display: flex;
        align-items: center;
        column-gap: 54px;
        position: relative;
}

.user_one,
.user_two,
.user_three {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid var(--white);
}

.user_one img,
.user_two img,
.user_three img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
}

.user_two {
        position: absolute;
        top: 0;
        left: 7%;
}

.user_three {
        position: absolute;
        top: 0;
        left: 14%;
}

.user__number {
        display: flex;
        align-items: center;
        column-gap: 112px;
}


/* ==============================
        Package Part End
================================= */


/* ==============================
        Common Part Start
================================= */
/* ==============================
        Common Part End
================================= */



/* ==============================
        Common Part Start
================================= */
/* ==============================
        Common Part End
================================= */